[include]
  path = ~/.gitconfig.local
[core]
	excludesfile = /Users/ksenija-vasjko@cookpad.com/.gitignore
	trustctime = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[init]
	defaultBranch = main
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[pull]
  rebase = true
